<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/update?Id=<%=singledata.id%>" method="post" >
        <input type="text"  placeholder="name"  name="name"> 
        <input type="text"  placeholder="subject"  name="subject"> 
        <input type="text"  placeholder="city"  name="city"> 
        <button type="submit">update</button>
    </form>
</body>
</html>